extends layout

block content
	.container.text-center.col-4
		form(method='POST', action='/users/eventList/edit/' + events._id)
			#form-group
				label Event Title:
				input.form-control(name='event_name',type='text',value= events.event_name)
			#form-group
				label Event Body:
				textarea.form-control(name='event_body',rows='5',type='text')= events.event_body
			#form-group
				label Event Location:
				textarea.form-control(name='event_location',rows='5',type='text')= events.event_location
			#form-group
				label Event Date:
				textarea.form-control(name='event_date',rows='5',type='text')= events.event_date
			.container.row.justify-content-center.my-3
				input.btn.btn-primary.mx-1(type='submit', value="UPDATE")
				a.btn.btn-danger.delete-event.mx-1(href="#", data-id = events._id) DELETE  			
