extends layout

block content
	.container.text-center.col-4
		form(method='POST', action='/users/eventList/CreateEvent')
			#form-group
				label Event Title:
				input.form-control(name='event_name',type='text')
			#form-group
				label Event Informations:
				textarea.form-control(name='event_body',row='5',type='text')

			#form-group
				label Event Location:
				textarea.form-control(name='event_location',row='5',type='text')

			#form-group
				label Event Date:	
				input#datepicker.form-control.col-8(name='event_date')
				script.
					$('#datepciker').datepicker({
					uiLibrary: 'bootstrap4'
					});

			input.btn.btn-primary(type='submit', value="CREATE")

			
