extends layout

block content
	.container.text-center
		h1 #{title}
		a(href="/registerPage") SIGNUP
		h3 LOG IN
		a(href="checklist") CHECK LISTS
		h3 Frontend
		a(href="/frontend") FrontEnd Page
		h3 EVENTS
		a(href="/users/eventList") Events List	
		h3 test	
		a(href="/test") test	
