extends layout

block content 
		h1 LISTS OF THE REGISTERED MEMBERS OF KUYRCC
		.container
			ul.list-group
			each user, i in users
				li.list-group-item 
				a(href="/users/detail/" + user._id)= user.name
