extends layout

block content
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    h1 Title #{title} 
    h1 welcome #{users.name}
    .wrapper.fadeInDown
      #formContent
        // Tabs Titles
        // Login Form
        form
          input#login.fadeIn.second(type='text', name='login', placeholder='login')
          input#password.fadeIn.third(type='text', name='login', placeholder='password')
          input.fadeIn.fourth(type='submit', value='Log In')
        // Remind Passowrd
        #formFooter
          a.underlineHover(href='#') Forgot Password?
