extends layout

block content
  .container.text-center.mt-4
    h1 MemberShip Form
  .container.text-left.col-8.justify-content-center
    if MembErrors
      each error, i in MemErrors
        div(class="alert alert-danger") #{error.msg}
    form.was-validated(method="POST",action='/form/membership')
      .form-group.mt-4.row
        .col-sm
          label(for='text') First Name
          input#text.form-control(type='text', placeholder='First name', name='MemFirstName')
        .col-sm
          label(for='text') Middle Name
          input#text.form-control(type='text', placeholder='Middle name', name='MemMiddleName')
        .col-sm
          label(for='text') Last Name
          input#text.form-control(type='text', placeholder='Last name', name='MemLastName')
      .form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='example@gmail.com', name='MemEmail')
      .form-group
        label(for='text') Contact Number:
        input#pwd.form-control(type='number', placeholder='Mobile number', name='MemPhone')
      .form-group.mt-4.row
        .col-sm
          label Blood Group
          select.form-control(name='MemBloodGroup')
            option(value='A+') A+
            option(value='A-') A-
            option(value='B+') B+
            option(value='B-') B-
            option(value='O+') O+
            option(value='O-') O-
            option(value='AB+') AB+
            option(value='AB-') AB-
        .col-sm
          label Gender`
          select.form-control(name='MemGender')
            option(value='Male') Male
            option(value='Female') Female
            option(value='Others') Others
      .form-group
        label(for='text') Current Address:
        input#pwd.form-control(type='text-center', placeholder='Current Address', name='MemAddress')
      .form-group
        label(for='text') Date of Birth 
        input#datepicker.form-control.col-8(placeholder="Enter Date of Birth", name='MemDateOfBirth')
        script.
          $('#datepicker').datepicker({
          uiLibrary: 
          });
      .form-group.text-center
        button.btn.btn-deep-orange(type='submit', value="submit") Become a Member
