doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Complete Bootstrap 4 Website Layout
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
		script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
		link(href='views/style.css', rel='stylesheet')
	body
		// Header Image
		div.container
			img.img-fluid.pt-4(src='KUYRCC.png', alt='KUYRCC logo')
		// Navigation
		nav.container.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
			div.container-fluid
				a.navbar-brand(href='#')
					img.img-fluid(src='kuyrccText.png')
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive')
					span.navbar-toggler-icon
				#navbarResponsive.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='#')  Homme 
						li.nav-item
							a.nav-link(href='#')  Service 
						li.nav-item
							a.nav-link(href='#')  About 
						li.nav-item
							a.nav-link(href='#')  Contact 
						button.btn.btn-outline-info.waves-effect.ml-0.float-md-right(type='button',data-toggle="collapse", data-target="#Login") Log In
					a(href='KUYRCC/SignUp/')
					button.btn.btn-outline-info.waves-effect.mr-0.flaot-md-right(type='button') Sign Up
		// -sliding login and signup forms
		#Login.collapse.container.my-4
			.container-fluid.padding
				.row.text-center
					form.form-inline
						label(for='email') Email address:
						input.form-control(type='email')
						label(for='pwd') Password:
						input.form-control(type='password')
						.form-check
							label.form-check-label
								input.form-check-input(type='checkbox')
							|  Remember me
						button.btn.btn-primary(type='submit') Log In
		block content
			h1 this is hidden
		footer
			p Copyright @2019
